* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icons i{
    margin: 10px;
    background: lightgray;
    padding: 14px;
    border-radius: 30px;
    font-size: 20px;
}