body {
    background-color: #A9A9A9;
}

.gallery {
    width: 100%;
    display: flex;
    margin: 30px
}

.gallery a {
    margin: 20px;
    text-decoration: none;
}

.gallery img {
    width: 240px;
    height: 120px;
}

.gallery a p {
    text-align: center;
    background-color: green;
    color: white;
    padding: 12px;
}