* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.marginBox {
    max-width: 600px;
    margin: 40px auto 0 auto;
    background: coral;
    border: 1px dashed black;
    padding: 0 0 20px 10px;
}

.borderBox {
    max-width: 500px;
    margin: 10px auto 10px auto;
    background: wheat;
    border: 1px dashed black;
    padding: 0 0 20px 10px;
}

.paddingBox {
    max-width: 400px;
    margin: 10px auto 10px auto;
    background: darkseagreen;
    border: 1px dashed black;
    padding: 0 0 20px 10px;
}

.contentBox {
    max-width: 250px;
    margin: 10px auto 10px auto;
    background: deepskyblue;
    border: 1px dashed black;
    text-align: center;
    padding: 10px;
    padding-left: 10px;
}